.timer {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.out-of-time {
  background-color: red;
}

.buttons > div {
  width: 300px;
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2em;
  margin: 2px;
  cursor: pointer;
}

.selected {
  background-color: #666;
}
